<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout>
	<ScrollView class="page">
		<StackLayout class="home-panel">
            <!--Add your page content here-->
            <Image src="http://via.placeholder.com/350x150"></Image>
            
			<Label textWrap="true" text="Play with NativeScript!" class="h2 description-label"></Label>
			<Label textWrap="true" text="Write code in the editor or drag and drop components to build a NativeScript mobile application."
			 class="h2 description-label"></Label>
			<Label textWrap="true" text="Scan the QR code with your mobile device and watch the changes sync live while you play with the code."
             class="h2 description-label"></Label>
             <Label textWrap="true" text="Scan the QR code with your mobile device and watch the changes sync live while you play with the code."
             class="h2 description-label"></Label>
             <Label textWrap="true" text="Scan the QR code with your mobile device and watch the changes sync live while you play with the code."
             class="h2 description-label"></Label>
             <Label textWrap="true" text="Scan the QR code with your mobile device and watch the changes sync live while you play with the code."
             class="h2 description-label"></Label>
             <Label textWrap="true" text="Scan the QR code with your mobile device and watch the changes sync live while you play with the code."
			 class="h2 description-label"></Label>
		</StackLayout>
	</ScrollView>
</GridLayout>