<ActionBar class="action-bar" title="My Project">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Settings"></Label>
</ActionBar>

<StackLayout verticalAlign="center">
    <ListView [items]="people" class="list-group">
        <ng-template let-person="item" >
          <StackLayout class="list-group-item" (tap)="goToDetails()">
            <Label text="{{person.firstName}} {{person.lastName}}"></Label>
          </StackLayout>
        </ng-template>
    </ListView>
    <Progress [value]="progressValue" (valueChanged)="onValueChanged($event)" maxValue="100" class="m-20"></Progress>
</StackLayout>